<div class="container">
<table class="table table-bordered">
        <tr>
            <th>学生姓名</th>
            <th>年纪</th>
            <th>班级</th>
        </tr>
        <tr *ngFor="let student of me">
            <td>{{student.name}} </td>
            <td>{{student.age}} </td>
            <td>{{student.className}} </td>
            
        </tr>
    </table>


<div class="row">
        <div class="col-lg-3">
          <div class="input-group">
                <span >
                        学生姓名:
                      </span>
            <input type="text" class="form-control" aria-label="..." #studentName>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="input-group">
                <span >
                        年纪:
                      </span>
            <input type="text" class="form-control" aria-label="..." #age>
          </div>
        </div>

        <div class="col-lg-3">
                <div class="input-group">
                        <span >
                                班级:
                              </span>
                  <input type="text" class="form-control" aria-label="..." #className>
                </div>
              </div>
      
      <div class="col-lg-1">
      <button (click)="addStudentInfo(studentName.value,age.value,className.value)">增加</button>
    </div>
</div>

<!-- <li *ngFor="let item of dataSet;let i = index">
  <span>{{item.name}}</span>----{{i+1}}--{{item.id}}
  <test-root [names]="item" (foo)="bar($event)"></test-root>
</li> -->

</div>